

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Notifications Panel
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
                {% for entity in entities %}
                    <a href="{{ path('report_show', { 'id': entity.id }) }}" class="list-group-item">
                        {%  if entity.getIsFinished %}
                            <i class="fa fa-check fa-fw"></i> {{ entity.getLog}}
                                    <span class="pull-right text-muted small"><em>{{entity.dateToString}}</em>
                                    </span>
                        {% else %}
                            <i class="fa fa-bolt fa-fw"></i> {{entity.getLog}}
                                    <span class="pull-right text-muted small"><em>{{entity.dateToString}}</em>
                                    </span>
                        {% endif %}
                </a>
                {%  endfor %}
            </div>
            <!-- /.list-group -->
            <a href="{{ path('report') }}" class="btn btn-default btn-block">View All Alerts</a>
        </div>
        <!-- /.panel-body -->
    </div>
    {% endblock %}
