{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}

{% form_theme form 'CorrigeatonScheduleBundle::form.html.twig' %}
{% block title %}{% trans %}Classe{% endtrans %}{% endblock %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans %} Classes{% endtrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list fa-fw"></i> {% trans %} Liste des classes{% endtrans %}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.name }} ({{ entity.id }})</td>
                                    <td>{{ entity.email }}</td>
                                    <td>
                                        {% form_theme delete_forms[loop.index0] _self %}
                                        {{ form_start(delete_forms[loop.index0]) }}
                                        <div class="btn-group-sm">

                                            <a class="btn btn-default" href="{{ path('classroom_edit', { 'id': entity.id }) }}" title="{% trans %}Editer{% endtrans %}"><i class="fa fa-pencil"></i></a>
                                            {{ form_widget(delete_forms[loop.index0].submit) }}
                                        </div>
                                            {{ form_end(delete_forms[loop.index0]) }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-plus fa-fw"></i> {% trans %}Ajouter une classe{% endtrans %}</div>
                <div class="panel-body ">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button class="btn btn-danger" type="{{ type|default('button') }}" {{ block('button_attributes') }} title="{{ label|trans({}, translation_domain) }}"><i class="fa fa-trash-o"></i></button>
{%- endblock button_widget %}
