{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Classroom list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }} ({{ entity.id }})</td>
                <td>{{ entity.email }}</td>
                <td>
                    <a href="{{ path('classroom_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('classroom_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
