<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ block("meta_description")}}">
    <meta name="author" content="{{ block("meta_author") }}">

    <title>{% trans %}Corrigeaton{% endtrans %} - {{ block("title") }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("bundles/corrigeatonschedule/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset("bundles/corrigeatonschedule/css/plugins/metisMenu/metisMenu.min.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=" {{ asset("bundles/corrigeatonschedule/css/sb-admin-2.css") }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset("bundles/corrigeatonschedule/font-awesome-4.1.0/css/font-awesome.min.css")}}" rel="stylesheet" type="text/css">
    {{ block("stylesheet") }}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% trans %}Corrigeaton{% endtrans %}</a>
        </div>

        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#" title="{% trans %}Vers l'accueil{% endtrans %}"><i class="fa fa-beer fa-fw"></i> {% trans %}Accueil{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('teacher') }}" title="{% trans %}Vers la liste d'enseignants{% endtrans %}"><i class="fa fa-graduation-cap fa-fw"></i> {% trans %}Enseignants{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('classroom') }}" title="{% trans %}Vers la liste des classes{% endtrans %}"><i class="fa fa-users  fa-fw"></i> {% trans %}Classes{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('test') }}" title="{% trans %}Vers la liste des examens{% endtrans %}"><i class="fa fa-gavel  fa-fw"></i> {% trans %}Examens{% endtrans %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        {{ block("content") }}
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery Version 1.11.0 -->
<script src="{{ asset("bundles/corrigeatonschedule/js/jquery-1.11.0.js")}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset("bundles/corrigeatonschedule/js/bootstrap.min.js")}}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ asset("bundles/corrigeatonschedule/js/plugins/metisMenu/metisMenu.min.js") }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset("bundles/corrigeatonschedule/js/sb-admin-2.js") }}"></script>
{{ block("javascript") }}
</body>

</html>

