{% extends "CorrigeatonScheduleBundle:Front:index.html.twig" %}

{% block title %}- Mails{% endblock %}
{% block body %}

<div class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Les différents mails</h1>
        <p>Vous pouvez visualiser les différents exemples de mails que le service corrigeathon envoi.</p>
        <h2>Pour les étudiants</h2>
        <table class="table" id="classroom-list">
            <thead>
            <tr>
                <th>Date</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Envoyé à la promo après correction</td>
                <td><a href="{{ path("mail_show",{id:"corrected"}) }}">Mail-corrected</a></td>
            </tr>
            </tbody>
        </table>
        <h2>Pour les enseignants</h2>
        <table class="table" id="classroom-list">
            <thead>
            <tr>
                <th>Date</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Le jour même</td>
                <td><a href="{{ path("mail_show",{id:1}) }}">Mail-1</a></td>
            </tr>
            <tr>
                <td>+ 21 jours</td>
                <td><a href="{{ path("mail_show",{id:2}) }}">Mail-2</a></td>
            </tr>
            <tr>
                <td>+ 31 jours</td>
                <td><a href="{{ path("mail_show",{id:3}) }}">Mail-3</a></td>
            </tr>
            <tr>
                <td>+ 36 jours</td>
                <td><a href="{{ path("mail_show",{id:4}) }}">Mail-4</a></td>
            </tr>
            <tr>
                <td>+ 40 jours</td>
                <td><a href="{{ path("mail_show",{id:5}) }}">Mail-5</a></td>
            </tr>
            <tr>
                <td>+ 44 jours</td>
                <td><a href="{{ path("mail_show",{id:6}) }}">Mail-6</a></td>
            </tr>
            <tr>
                <td>+ 47 jours</td>
                <td><a href="{{ path("mail_show",{id:7}) }}">Mail-7</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}