<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Corrigeathon est un service de rappel sur la correction des copies d'un examen">
    <title>{% trans %}Corrigeathon{% endtrans %} {{ block("title") }}</title>

    {% stylesheets  'bundles/corrigeatonschedule/css/bootstrap.css'
                    "bundles/corrigeatonschedule/font-awesome-4.2.0/css/font-awesome.css"
                    "bundles/corrigeatonschedule/css/sweet-alert.css"
                    "bundles/corrigeatonschedule/css/sticky-footer-navbar.css"
    filter='cssrewrite, ?yui_css' %}
        <link rel="stylesheet" type="text/css"  href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset("apple-touch-icon-57x57.png") }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset("apple-touch-icon-114x114.png") }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset("apple-touch-icon-72x72.png") }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset("apple-touch-icon-144x144.png") }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset("apple-touch-icon-60x60.png") }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset("apple-touch-icon-120x120.png") }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset("apple-touch-icon-76x76.png") }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset("apple-touch-icon-152x152.png") }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("apple-touch-icon-180x180.png") }}">
    <meta name="apple-mobile-web-app-title" content="Corrigeathon">
    <link rel="icon" type="image/png" href="{{ asset("favicon-192x192.png") }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset("favicon-160x160.png") }}" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ asset("favicon-96x96.png") }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset("favicon-16x16.png") }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ asset("favicon-32x32.png") }}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="{{ asset("mstile-144x144.png") }}">
    <meta name="application-name" content="Corrigeathon">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path("index") }}" title="Accueil"><img src="{{ asset("favicon-32x32.png") }}" alt="Logo crayon corrigeathon" />Corrigeathon</a>
            </div>
        </div>
    </div>

{% block body %}
    <div id="header-section">
        <div class="container">
            <div class="row main-top-margin">
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <i class="fa fa-stack-overflow main-icon"></i>
                        <br />
                    </div>
                </div>
            </div>
            <div class="row main-low-margin">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="head-line" >Pour ne plus avoir de piles de copies</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="about-section" class="section" >
        <div class="container" >
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
                    <h2>Corrigeathon est un service de rappel sur la correction des copies d'un examen.</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="users-section">
        <div class="container">
            <div class="row main-top-margin text-center" >
                <div class="col-md-6 col-sm-6" >
                    <i class="fa fa-university fa-5x color-brown"></i>
                    <h3>ETUDIANT</h3>
                    <p>Arrêtez de <strong>harceler</strong> vos professeurs lorsque vous avez hâte de recevoir votre note à un brillant examen ! Corrigeathon s'occupe de le faire pour vous. Tout en accord avec le règlement des études en vigueur. </p>
                </div>
                <div class="col-md-6 col-sm-6" >
                    <i class="fa fa-pencil fa-5x color-blue"></i>
                    <h3>PROFESSEUR</h3>
                    <p>Vous oubliez souvent la date finale à laquelle il faut rendre les copies ? Vous aimeriez que quelqu'un vous le <strong>rappel automatiquement</strong> ? Corrigeathon vous rend ce service et vous permettra même d'avertir les étudiants lorsque vous avez terminé votre correction !</p>
                </div>
            </div>
        </div>
    </div>

    <div class="space-bottom"></div>

    <div id="feature-section" class="section" >
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
                    <h2>Caractéristiques du service</h2>
                </div>
            </div>

            <div class="row text-center main-low-margin">
                <div class="col-md-3 col-sm-3" >
                    <i class="fa fa-search fa-2x color-brown"></i>
                    <p>Répertorie automatiquement les examens depuis ADE</p>
                </div>
                <div class="col-md-3 col-sm-3" >
                    <i class="fa fa-bell fa-2x color-brown"></i>
                    <p>Notifie le professeur lorsque la date de fin de correction arrive à échéance (3 semaines)</p>
                </div>
                <div class="col-md-3 col-sm-3" >
                    <i class="fa fa-bell-slash-o fa-2x color-brown"></i>
                    <p>Permet au professeur ponctuel de se désabonner du service</p>
                </div>
                <div class="col-md-3 col-sm-3" >
                    <i class="fa fa-bullhorn fa-2x color-brown"></i>
                    <p>Averti les étudiants lorsque les copies sont finis de corriger</p>
                </div>
            </div>

        </div>
    </div>

    <div id="class-available-section" >
        <div class="container" >
            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
                    <h2>Disponible pour les classes</h2>
                        <h3>
                        {% for classe in classes %}
                            <span class="label label-success">{{ classe }}</span>
                        {% endfor %}
                        </h3>
                        <p class="small">Vous voulez activez se service pour votre classe ? <a href="mailto:{{ email_send }}">Contactez-nous</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="space-top"></div>

{% endblock %}

    <div class="footer">
        <div class="container">
            <p class="text-muted">Corrigeathon 2014 - <a title="Mentions légales" href="{{ path("mentions") }}">Mentions légales</a> - <a title="Envoyer un mail à {{ email_send }}" href="mailto:{{ email_send }}">Contact</a></p>
        </div>
    </div>

    {% javascripts  "bundles/corrigeatonschedule/js/jquery-1.11.0.js"
                    "bundles/corrigeatonschedule/js/bootstrap.js"
        filter="yui_js"
     %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>