{% extends 'CorrigeatonMailerBundle::email.html.twig' %}

{% block body %}


            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h1>Hi {{ test.teacher }},</h1>
                                    <p class="lead">{{ "now"|date("d M") }} est un excellent jour pour nous rendre nos copies de l'examen {{ test.name }}.</p>
                                    <p><img src="{{ asset('bundles/corrigeatonmailer/img/7.jpg') }}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Si jamais vous n'avez pas le temps de le corriger, un 20 sur toutes nos copies fera l'affaire ! En attendant et sauf erreur de notre part, quelque soit votre méthode de correction, nous espérons avoir bientôt nos copies. </p>
                                    <p>Bon courage, cordialement,</p>
                                    <p>Le service Corrigeathon pour les {% for class in test.classrooms %}{{ class }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row callout">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td class="panel">
                                    <p>Ce message est un mail automatique du service Corrigeathon. Si vous ne souhaitez plus recevoir ce genre de message vous pouvez vous désabonner <a href="{{ base_url ~ path("teacher_unregister",{id:test.teacher.id, token:test.teacher.unregisterToken}) }}">ici ! »</a></p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row footer">
                <tr>
                    <td class="wrapper">

                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">

                                    <table class="large-button success">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("corrected",{id:test.id,token:test.finishToken}) }}">J'ai enfin fini de corriger !</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

{% endblock %}
