{% extends 'CorrigeatonMailerBundle::email.html.twig' %}

{% block body %}


            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h1>Hi {{ test.teacher }},</h1>
                                    <p class="lead">Nous sommes le {{ "now"|date("d M Y") }}, et déjà un mois de passé après l'examen {{ test.name }}.</p>
                                    <p><img src="{{ asset('bundles/corrigeatonmailer/img/3.png') }}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Perde son stylo rouge, ça peut arrive à tous le monde !</p>
                                    <p>Sauf erreur de notre part bien entendu, nous vous aimerions au plus vite retrouver nos copies, corrigé de votre plus beau stylo rouge.</p>
                                    <p>Bon courage, cordialement,</p>
                                    <p>Le service Corrigeathon pour les {% for class in test.classrooms %}{{ class }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row callout">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td class="panel">
                                    <p>Ce message est un mail automatique du service Corrigeathon. Si vous ne souhaitez plus recevoir ce genre de message vous pouvez vous désabonner <a href="{{ base_url ~ path("teacher_unregister",{id:test.teacher.id, token:test.teacher.unregisterToken}) }}">ici ! »</a></p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row footer">
                <tr>
                    <td class="wrapper">

                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">

                                    <table class="large-button success">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("corrected",{id:test.id,token:test.finishToken}) }}">J'ai fini de corriger !</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

{% endblock %}
