{% extends 'CorrigeatonMailerBundle::email.html.twig' %}

{% block body %}

            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h1>Hi {{ test.teacher }},</h1>
                                    <p class="lead">Après ce brillant (on espère) examen {{ test.name }}, nous avons le regret de vous annoncer qu'il va falloir le corriger.</p>
                                    <p><img src="{{ asset('bundles/corrigeatonmailer/img/1.jpg') }}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Votre mission, si vous l'acceptez, est de nous rendre dans 3 semaines (le {{ "3 weeks"|date("d M Y") }}) nos copies.</p>
                                    <p>Ayant conscience de votre emploi du temps très chargé, voici corrigeathon, un service pour ne plus jamais oublier nos piles de copies sur votre étagère.</p>
                                    <p>Lorsque avez fini, vous n'avez plus qu'à appuyer sur le bouton J'ai fini de corriger et nous alerterons pour vous les {% for class in test.classrooms %}{{ class }}{% if not loop.last %}, {% endif %}{% endfor %}.</p>
                                    <p>Cordialement,</p>
                                    <p>Le service Corrigeathon pour les {% for class in test.classrooms %}{{ class }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row callout">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td class="panel">
                                    <p>Ce message est un mail automatique du service Corrigeathon.</p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row footer">
                <tr>
                    <td class="wrapper">

                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">

                                    <table class="large-button success">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("corrected",{id:test.id,token:test.finishToken}) }}">(J'ai fini de corriger !)</a>
                                            </td>
                                        </tr>
                                    </table>

                                <td class="expander"></td>
                            </tr>
                        </table>
                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">
                                    <table class="large-button google-plus">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("teacher_unregister_test",{id:test.teacher.id, token:test.teacher.unregisterToken, testid: test.id}) }}">Vous m'embêtez, je veux plus recevoir de mail pour cette interro !</a>
                                            </td>
                                        </tr>
                                    </table>

                                <td class="expander"></td>
                            </tr>
                        </table>
                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">

                                    <table class="large-button alert">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("teacher_unregister",{id:test.teacher.id, token:test.teacher.unregisterToken}) }}">Vous m'embêtez, je ne m'envoyez plus jamais ce type de message !</a>
                                            </td>
                                        </tr>
                                    </table>

                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
{% endblock %}
