{% extends 'CorrigeatonMailerBundle::email.html.twig' %}

{% block body %}


            <table class="row">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h1>Hi {{ test.teacher }},</h1>
                                    <p class="lead">Nous sommes le {{ "now"|date("d M Y") }}, exactement 3 semaines après l'examen {{ test.name }} des {% for class in test.classrooms %}{{ class }}{% if not loop.last %}, {% endif %}{% endfor %}.</p>
                                    <p><img src="{{ asset('bundles/corrigeatonmailer/img/2.jpg') }}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Sauf erreur de notre part, il nous semble que vous n'avez pas rendu les copies. </p>
                                    <p>Pas de panique, ceci est juste un premier rappel. Merci de nous tenir au courant de l'avancée de votre correction !</p>
                                    <p>Bon courage dans votre tâche, cordialement,</p>
                                    <p>Le service Corrigeathon pour les {% for class in test.classrooms %}{{ class }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row callout">
                <tr>
                    <td class="wrapper last">

                        <table class="twelve columns">
                            <tr>
                                <td class="panel">
                                    <p>Ce message est un mail automatique du service Corrigeathon.</p>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <table class="row footer">
                <tr>
                    <td class="wrapper">

                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">

                                    <table class="large-button success">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("corrected",{id:test.id,token:test.finishToken}) }}">J'ai fini de corriger !</a>
                                            </td>
                                        </tr>
                                    </table>

                                <td class="expander"></td>
                            </tr>
                        </table>
                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">
                                    <table class="large-button google-plus">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("teacher_unregister_test",{id:test.teacher.id, token:test.teacher.unregisterToken, testid: test.id}) }}">Vous m'embêtez, je ne veux plus recevoir de mail pour cette interro !</a>
                                            </td>
                                        </tr>
                                    </table>

                                <td class="expander"></td>
                            </tr>
                        </table>
                        <table class="twelve columns">
                            <tr>
                                <td class="left-text-pad">

                                    <table class="large-button alert">
                                        <tr>
                                            <td>
                                                <a href="{{ base_url ~ path("teacher_unregister",{id:test.teacher.id, token:test.teacher.unregisterToken}) }}">Vous m'embêtez, ne m'envoyez plus jamais ce type de message !</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

{% endblock %}
