{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Teacher list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('teacher_show', { 'id': entity.id }) }}">{{ entity.name }} {{ entity.surname }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('teacher_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
