{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}
{% block title %}{% trans %}Enseignant{% endtrans %}{% endblock %}
{% block content -%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans %} Enseignants{% endtrans %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> {% trans %}Liste des enseigants{% endtrans %}
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Stats examens</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in registered %}
                            <tr>
                                <td>{{ entity.name }} {{ entity.surname }}</td>
                                <td>{{ entity.email }}</td>
                                <td><span class="label label-success">- <i class="fa fa-check"></i></span> <span  class="label label-danger">- <i class="fa fa-times"></i></span> <span  class="label label-default">- <i class="fa fa-plus"></i></span></td>
                                <td>
                                    <a class="btn btn-sm btn-default" href="{{ path('teacher_edit', { 'id': entity.id }) }}" title="{% trans %}Editer{% endtrans %}"><i class="fa fa-pencil"></i></a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> {% trans %}Enseigants désinscrit{% endtrans %}
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in unregistered %}
                            <tr>
                                <td>{{ entity.name }} {{ entity.surname }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
