{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}
{% block title %}{% trans %}Enseignant{% endtrans %}{% endblock %}
{% block title_content -%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans %} Enseignants{% endtrans %}</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> {% trans %}Liste des enseigants{% endtrans %}
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table" id="teacher-list">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Stats examens</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in registered %}
                            <tr>
                                <td><a href="{{ path("teacher_show",{id:entity.entity.id}) }}">{{ entity.entity.name }} {{ entity.entity.surname }}</a></td>
                                <td>{{ entity.entity.email }}</td>
                                <td><span class="label label-success">{{ entity.count[true] }} <i class="fa fa-check"></i></span> <span  class="label label-danger">{{ entity.count[false] }} <i class="fa fa-times"></i></span></td>
                                <td>
                                    <a class="btn btn-sm btn-default" href="{{ path('teacher_edit', { 'id': entity.entity.id }) }}" title="{% trans %}Editer{% endtrans %}"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-sm btn-default" href="{{ path('teacher_toggle_register', { 'id': entity.entity.id }) }}" title="{% trans %}Désabonner{% endtrans %}"><i class="fa fa-bell-slash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> {% trans %}Enseigants désinscrit{% endtrans %}
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table" id="teacher-unregistered-list">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in unregistered %}
                            <tr>
                                <td>{{ entity.name }} {{ entity.surname }}</td>
                                <td>
                                    <a class="btn btn-sm btn-default" href="{{ path('teacher_toggle_register', { 'id': entity.id }) }}" title="{% trans %}Abonner{% endtrans %}"><i class="fa fa-bell"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $('#teacher-list').dataTable({
            language: {
                url: '{{ asset("bundles/corrigeatonschedule/js/plugins/dataTables/French.json") }}'
            },

            aoColumns: [
                null,
                null,
                { "bSortable": false , "searchable": false},
                { "bSortable": false , "searchable": false},
            ]
        });
        $('#teacher-unregistered-list').dataTable({
            language: {
                url: '{{ asset("bundles/corrigeatonschedule/js/plugins/dataTables/French.json") }}'
            },

            aoColumns: [
                null,
                { "bSortable": false , "searchable": false},
            ]
        });
    });
</script>
{% endblock %}