{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}
{% block title %}{% trans %}Enseignant{% endtrans %}{% endblock %}
{% block content -%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans %} Enseignants{% endtrans %}</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Enregistré</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.name }} ({{ entity.id }})</td>
                                <td>{{ entity.surname }}</td>
                                <td>{{ entity.email }}</td>
                                <td>{% if entity.isUnregistered == false %}{% trans %}Oui{% endtrans %}{% else %}{% trans %}Non{% endtrans %}{% endif %}</td>
                                <td>
                                    <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
