{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}

{% block title %}
    {% trans %}Enseignant{% endtrans %} - {{ teacher.name }} {{ teacher.surname }}
{% endblock %}


{% block content -%}

<div class="col-lg-12">
    <h1 class="page-header">
        {% trans %}Enseignant{% endtrans %} - {{ teacher.name }} {{ teacher.surname }}
        <a class="btn btn-sm btn-default" href="{{ path('teacher_edit', { 'id': teacher.id }) }}" title="{% trans %}Editer{% endtrans %}"><i class="fa fa-pencil"></i></a>
        </h1>
</div>

<div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list fa-fw"></i> {% trans %} Liste des examens{% endtrans %}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans %}Nom{% endtrans %}</th>
                                <th>{% trans %}Date{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for exam in exams %}
                                <tr>
                                    <td>{{ exam.name }}</td>
                                    <td>{{ exam.date|date("d/m/Y") }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
