
{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}
{% block title %}{% trans %}Examen{% endtrans %}{% endblock %}
{% block title_content -%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans %} Examens{% endtrans %}</h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> {% trans %} Liste des examens non corrigés{% endtrans %}
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{% trans %}Nom{% endtrans %}</th>
                            <th>{% trans %}Date{% endtrans %}</th>
                            <th>{% trans %}Enseignant{% endtrans %}</th>
                            <th>{% trans %}Rappels{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in notCorrected %}
                            <tr>
                                <td>{{ entity.name }} ({{ entity.id }})</td>
                                <td>{{ entity.date|date("d/m/Y") }}</td>
                                <td><a href="{{ path("teacher_show",{id:entity.teacher.id}) }}">{{ entity.teacher }}</a></td>
                                <td>{{ entity.numReminder }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list fa-fw"></i> {% trans %} Liste des examens à venir{% endtrans %}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans %}Nom{% endtrans %}</th>
                                <th>{% trans %}Date{% endtrans %}</th>
                                <th>{% trans %}Enseignant{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in future %}
                                <tr>
                                    <td>{{ entity.name }}</td>
                                    <td>{{ entity.date|date("d/m/Y") }}</td>
                                    <td><a href="{{ path("teacher_show",{id:entity.teacher.id}) }}">{{ entity.teacher }}</a></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-list fa-fw"></i> {% trans %} Historique des examens{% endtrans %}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans %}Nom{% endtrans %}</th>
                                <th>{% trans %}Date{% endtrans %}</th>
                                <th>{% trans %}Enseignant{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in corrected %}
                                <tr>
                                    <td>{{ entity.name }}</td>
                                    <td>{{ entity.date|date("d/m/Y") }}</td>
                                    <td><a href="{{ path("teacher_show",{id:entity.teacher.id}) }}">{{ entity.teacher }}</a></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
