
{% extends 'CorrigeatonScheduleBundle::base.html.twig' %}
{% block title %}{% trans %}Examen{% endtrans %}{% endblock %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{% trans %} Examens{% endtrans %}</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans %}Nom{% endtrans %}</th>
                                <th>{% trans %}Date{% endtrans %}</th>
                                <th>{% trans %}Rappels{% endtrans %}</th>
                                <th>{% trans %}Statut{% endtrans %}</th>
                            </tr>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ path('test_new') }}">
                                        <i class="fa fa-plus"></i> {% trans %} Nouveau{% endtrans %}
                                    </a>
                                </div>
                            </div>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.name }} ({{ entity.id }})</td>
                                    <td>{{ entity.date|date("d/m/Y") }}</td>
                                    <td>{{ entity.numReminder }}</td>
                                    <td>{{ entity.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
